{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center"> Un poquito de mi historia</h1>
        <p>Hola, mi nombre es Mateo Quartin, tengo 20 años y soy estudiante de ingeniería informática en la Universidad Católica de Salta. Actualmente, estoy cursando segundo año y por empezar mi tercer año. Mi interés por la programación surgió cuando ingresé a la carrera. Siempre me gusto todo lo relacionado con la computadora en la parte del hardware desde que era pequeño desarmaba todo para ver cómo funcionaba , pero cuando entre a la universidad me di cuenta y descubrí la cantidad de cosas que se podían hacer con la programación. Al darme cuenta de cómo la programación puede resolver problemas, comencé a escribir códigos, inicialmente en Python. Hoy en día, estoy explorando otros lenguajes para ampliar mis habilidades y comprender diferentes paradigmas de la programación.</p>
        <div class="text-center" >
            <a class="btn btn-primary" href="/">
                Home
            </a>
        </div>
    </section>
</main>
{% endblock %}
